*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    font-size: 20px;
}
.header a{
    margin-right: 15px;
    text-decoration: none;
    color: #333;
}
.signin{
    background: #1a73e8;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.main{
    display: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.logo{
    width: 270px;
    margin-bottom: 25px;
}
.search-box input{
    width: 550px;
    padding: 12px 15px;
    border: 2px solid #dcdcdc;
    outline: none;
    font-size: 16px;
    border-radius: 20px;
}
.search-box input:hover{
    box-shadow: 0 1px 6px rgba(0,0,0,0.2);
}
.button{
    margin-top: 20px;
}
.button button{
    padding: 10px 18px;
    margin: 0px 5px;
    border: none;
    background: #f8f9fa;
    border-radius: 5px;
    cursor: pointer;
}
.button button:hover {
    border: 1px solid #ccc;
    background-color: #555;
    color: white;
}
.footer{
    background: #f2f2f2;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 125px;
}
.footer a{
    margin-right: 15px;
    text-decoration: none;
    color: #555;
}
@media (max-width: 600px) {
    .search-box input {
        width: 90%;
    }

    .header, .footer {
        flex-direction: column;
        align-items: center;
    }
}